.header {
    padding-bottom:15px;
    padding-left:17%;
    background-color:#373b41;
}

#logo {
    width:33px;
    height:33px;
    color:white;
    filter: invert(100%);
    padding:10px;
    padding-top:10px;
    text-justify: center;

}