.header {
    padding-bottom:15px;

    background-color:#373b41;
}
@media only screen and (max-width: 999px) {
    .header{
        padding-left:5%;
    }
}
@media only screen and (min-width: 1000px) {
    .header{
        padding-left:10%;
    }
}

#logo {
    width:33px;
    height:33px;
    color:white;
    filter: invert(100%);
    padding:10px;
    padding-top:10px;
    text-justify: center;

}