.repoList {
    border-bottom:solid black 1px;
    background-color: rgb(250, 250, 250);
}

.repoList{
  padding:0 10%;
}

@media only screen and (min-width: 1300px) {

  .grid-results{
    width:100%;
    height:100%;
    display:grid;
    margin:auto 0;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}

@media only screen and (max-width: 1299px) {

  .grid-results{
    width:100%;
    height:100%;
    display:grid;
    margin:auto 0;
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 580px) {

  .grid-results{
    width:100%;
    height:100%;
    display:grid;
    margin:auto 0;
    grid-template-columns: 100%;
  }
}