.user-profile {
    border:solid 0.5px rgb(138, 138, 138);
    box-shadow: 0px 0px 5px 0px #869eb1;
    background-color: white;
    border-radius: 5px;
    display:inline-block;
    text-align: center;
    margin-top:10px;
    width:95%;
}

.avatar {
    width:100%;
    max-width: 270px;
    border:solid 0.5px rgb(138, 138, 138);
    box-shadow: 0px 0px 1px 0px #869eb1;
    border-radius: 5px;
}